* {
    font-family: sans-serif;
}

.one {
    display: flex;
    flex-direction: column;
    background-color: #1f2937
}

.one-one {
    display: flex;
    justify-content: space-between;
}

.one-one-one {
    color: #f9faf8;
    font-size: 24px;
    margin-left: 580px;
}

.one-one-two {
    display: flex;
    color: lightgrey;
    font-size: 18px;
    list-style: none;
    margin-right: 580px;
    gap: 25px;
}

.one-two {
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 50px;
}

.one-two-one-one {
    color: white;
    font-size: 48px;
    font-weight: bolder;
    width: 450px;
}

.one-two-one-two {
    color: lightgrey;
    font-size: 18px;
    width: 450px;
}

.one-two-one-three {
    color: white;
    background-color: #3882f6;
    font-size: 18px;
    padding: 5px 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.one-two-two {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: lightgrey;
    font-size: 18px;
    height: 200px;
    width: 450px;
    margin-top: 50px;
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.two-one {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 100px;
}

.two-two {
    display: flex;
    justify-content: center;
}

.two-two-one,
.two-two-two,
.two-two-three,
.two-two-four {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.two-two-one-one,
.two-two-two-one,
.two-two-three-one,
.two-two-four-one {
    border: 3px solid #3882f6;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.two-two-one-two,
.two-two-two-two,
.two-two-three-two,
.two-two-four-two {
    color: grey;
    height: 150px;
    width: 150px;
    padding: 25px;
}

.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px 600px;
}

.three-one {
    color: grey;
    font-size: 36px;
    font-style: italic;
}

.three-two {
    font-weight: bold;
    align-self: flex-end;
}

.four {
    display: flex;
    justify-content: center;
}

.four-one {
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    margin: 50px;
}

.four-one-one {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}

.four-one-one-one {
    color: white;
    font-size: 18px;
}

.four-one-one-two {
    color: lightgrey;
}

.four-one-two {
    display: flex;
    align-items: center;
    padding: 50px 100px;
}
.four-one-two-one {
    background-color: #3882f6;
    color: white;
    border: 1px solid white;
    padding: 5px 30px;
    border-radius: 5px;
}
.five {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;
    background-color: #1f2937;
    padding: 25px;
}
